.JewelWorkn {
  background: url("/Images/Gems.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Workn {
  font-size: 40px;
}

.ComeVi {
  font-size: 30px;
  text-align: center;
}

.Mon {
  text-align: center;
  font-size: 15px;
}