.ContainerUnleash {
  display: flex;
  background: url("/Images/Unleash.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
  width: 100%;
  max-width: 1250px;
}

.GWD {
  font-size: 50px;
}

.Unleash {
  width: 100%;
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Imagination {
font-style: italic;
}
